@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             
}

*{
  font-family: Outfit;
}